.card {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-text {
    bottom: 5vmin;
    color: white;
    font-size: 10vmin;
    font-weight: bold;
    height: 10vmin;
    left: 0;
    letter-spacing: 0.5vmin;
    line-height: 10vmin;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 0 2vmin #000000;
}